body {
  font-size: 14px;
}

:root {
  --primary-color: #ff9854;
  /* 全局修改 search 样式 */
  --van-search-left-icon-color: var(--primary-color) !important;
}

.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  /* 在容器中滚动，而不是页面滚动 */
  overflow-y: auto;
}
